


.header-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 100px;
    margin-left: 100px;
    /*background-color: #1f2937;*/
}

.list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 40%;
}

.link {
    display: flex;
    margin-right: 10px;
}



.logo {
    display: flex;
    justify-content: flex-start;
    width:60%;
}